.header-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 40vh;
}

.header-text {
  grid-column: 4 / span 4;
  grid-row: 1;
  position: absolute;
  top: 5%;
  z-index: 2;
  margin-right: 20px;
}

.top-image {
  grid-column: 2 / span 11;
  grid-row: 1;
  width: 100%;
  position: absolute;
  height: 80%;
}

.right-image {
  grid-column: 8 / span 3;
  grid-row: 1;
  height: 90%;
  width: 100%;
  position: absolute;
  top: 10%;
  z-index: 2;
  border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  .header-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .header-text {
    grid-column: 1 / span 2;
    margin-left: 60px;
  }
  .top-image {
    grid-column: 1 / -1;
    margin-left: 40px;
  }
  .right-image {
    grid-column: 3 / span 2;
    margin-right: 40px;
    width: 90%;
  }
}
/*
@media screen and (max-width: 768px) {
  .header-container {
    height: 50vh;
  }
  .header-text {
    left: 5%;
    top: 5%;
    width: 55vw;
    text-align: left;
  }

  .right-image {
    right: 2%;
    width: 35vw;
    top: 15%;
    height: 85%;
    margin-left: 5px;
  }
}

@media screen and (max-width: 480px) {
  .header-container {
    height: 50vh;
  }
  .header-text {
    left: 5%;
    top: 5%;
    text-align: left;
    font-size: 14px;
    color: blue;
    width: 55vw;
  }

  .right-image {
    right: 1%;
    width: 40vw;
    top: 20%;
    height: 80%;
    margin-left: 5px;
  }
} */
