.header-container {
  position: relative; /* Enable positioning for child elements */
  width: 100%;
  overflow: hidden; /* Prevent images from overflowing */
  height: 400px;
}

.MainPage-header-text {
  position: absolute;
  top: 50px;
  left: 250px;
  opacity: 1;
  z-index: 2;
}

.top-image {
  width: 100%; /* Full width */
  display: block; /* Removes inline spacing */
  position: sticky;
  top: 0; /* Sticks to the top of the page */
  z-index: 1; /* Ensure it's below the second image if overlapping */
  height: 350px;
  opacity: 0.3;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background-color: rgba(205, 255, 216, 0.5); /* Semi-transparent overlay */
}
.right-image {
  width: 350px; /* Set a fixed width for the second image */
  height: 350px;
  position: absolute;
  top: 50px; /* Adjust overlap height */
  right: 250px; /* Position it to the right */
  z-index: 2; /* Ensure it's on top of the first image */
  border-radius: 20px;
}
